# DEPENDENCIES ----------------------------------------------------------------
/node_modules

# COMPILED --------------------------------------------------------------------
/dist
/www
/docs
/build

# IDE & FILES -----------------------------------------------------------------
.vscode
*.min.*
*.lock
*.log
*.png
*.d.ts
*.md
